<%-include('includes/header')%>
<link rel="stylesheet" type="text/css" href="/css/shop.css" />
<script src="/js/shop.js"></script>
<script src="/js/admin.js"></script>
<body>
    <div class="shop_navbar">
        <div class="nav_container">
          <h2 class="page_name">Admin Page</h2>
          <div style="width: 60%;" class="nav_link_wrap">
            <a href="/admin" class="nav_link">Home</a>
            <a id="all" href="/admin/control" class="nav_link all_link">All Users Control</a>
            <a id="shop" href="/admin/control/shop" class="nav_link shop_link">Shops Control</a>
            <a id="user" href="/admin/control/user" class="nav_link user_link">Users Control</a>
            <a href="/admin/events-list" class="nav_link">Events Control</a>
            <a href="/admin/orders-list" class="nav_link">Orders Control</a>
          </div>
          <div class="nav_right">
            <% let message_count = user_data[1].length%>
            <div class="message_wrap">
              <img class="message_icon show_message" src="/images/message.svg" alt="email" />
              <span class="message_cnt show_message">
                <p class="message_count_num"><%= message_count %></p>
              </span>
              <div class="notification_dropdown">
                <div class="notification_header">
                  <p>Notifications</p>
                </div>
                <hr>
                <div class="notification_messages_wrap">
                  <% user_data[1].map((value, key) => {%>
                    <div id="message_container" class="message_container">
                      <img id="message_img" src="<%=value.sender_data.mb_image.slice(7)%>" alt="avatar">
                      <div class="message_header_wrap">
                        <div class="sender_name_wrap">
                          <p class="sender_name"><%=value.sender_data.mb_nick%></p>
                          <img id="<%=value._id%>" src="/images/x.svg" class="delete_one_message" alt="x">
                        </div>
                        <p class="message_subject"><%=value.notif_subject%></p>
                        <p class="message_content"><%=value.notif_content%></p>
                        <% 
                          let year = new Date(value.createdAt).getFullYear();
                          let month = new Date(value.createdAt).getMonth()+1;
                          let date = new Date(value.createdAt).getDate();
                          let hour = new Date(value.createdAt).getHours();
                          let minute = new Date(value.createdAt).getMinutes()
                        
                        %>
                        <p class="message_time"><%= `${year}-${month}-${date} ${hour}:${minute} ` %></p>
                      </div>
                    </div>
                    <%})%>
                
                    
                </div>
                <div id="delete_all_message" class="notification_bottom">
                  Mark all as read
                </div>
              </div>
            </div>
            <% let img_src = member.mb_image%>
            
            <div type="button" class=" user_box" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="user_img" src="<%= img_src.slice(7) %>" alt="avatar" />
              <img class="bottom_arrow_icon" src="/images/bottom_arrow.svg" alt="icon">
            </div>
            <div class="dropdown-menu">
              <div class="dropdown_item_init">
                <img class="user_img" src="<%= img_src.slice(7) %>" alt="avatar" />
                <span class="dropdown_mb_nick"><%= member.mb_nick %></span>
              </div>
              <div class="dropdown-divider"></div>
              <span id="edit_mb_btn" class="dropdown-item drop_items" href="#"><img src="/images/default_user.svg" alt="icon"> Edit Profile</span>
              <a class="dropdown-item drop_items" href="/admin/logout"><img src="/images/logout.svg" alt="icon"> Log out</a>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="all_alert_box">
      <div id="contact_alert" class="alert_message_wrap">
        <div class="alert_box">
          <img src="/images/check_icon.svg" alt="check_icon">
          <span>Message sent successfully!</span>
        </div>
      </div>
    </div>
    <div class="shop_content_wrap">
        <div class="shop_content">
          <h2 id="all" class="content_title">All Users Status</h2>
          <div class="add_btn_wrap">
            <button class="btn btn-primary send_all_message">Message to all users <img src="/images/envelope.svg" alt="messsage"></button>
            </div>
            <% if(user_data.length>0){%>
          <table class="table table-bordered table-hover">
            <thead class="thead-light">
              <th scope="col">N</th>
              <th scope="col">User name</th>
              <th scope="col">User type</th>
              <th scope="col">User email</th>
              <th scope="col">User phone</th>
              <th scope="col">User status</th>
              <th scope="col">Sending message</th>
            </thead>
            <% user_data[0].map((value, key) => { %>
            <tbody id="<%= value._id %>" class="products_table_body">
              <td><%= key + 1 %></td>
              <td><%= value.mb_nick%></td>
              <td><%= value.mb_type%></td>
              <td><%= value.mb_email%></td>
              <td><%= value.mb_phone%></td>
              <td>
                  <select class="spec_select, mb_status_change" id="<%= value._id %>">
                      <option value="ONPAUSE" <%= value.mb_status === 'ONPAUSE' ? 'selected' : '' %> >ONPAUSE</option>
                      <option value="ACTIVE" <%= value.mb_status === 'ACTIVE' ? 'selected' : '' %> >ACTIVE</option>
                    </select>
                </td>
                <td>
                    <button id="<%=value._id%>" type="button" class="btn btn-primary send_one_message">Send message 
                        <img src="/images/envelope.svg" alt="messsage">
                    </button>
                </td>
            </tbody>
            <%});%>
          </table>
          <%}else{%>
            <div class="no_product_wrap">
              <h4 class="no_product_alert">There is no any product in your shop page</h4>
            </div>
            <%}%>
          </div>
        </div>
      </div>

    <!-- USER PROFILE EDIT START-->
<div class="profile_edit_display">
    <form class="profile_card">
      <h2>Edit profile</h2>
      <div class="edit_img_wrap">
        <img class="edit_user_img" src="<%= img_src.slice(7) %>" alt="user_avatar">
      </div>
      <div class="input_wrap">
        <label for="mb_nick">Shop name</label>
      <input
        type="text"
        class="form-control"
        id="mb_nick"
        value="<%=member.mb_nick%>"
      />
      </div>
      <div class="input_wrap">
        <label for="mb_address">Shop address</label>
      <input
        type="text"
        class="form-control"
        id="mb_address"
        value="<%=member.mb_address%>"
        placeholder="ex: John Smith"
      />
      </div>
      <div class="input_wrap">
        <label for="mb_email">Shop email</label>
      <input
        type="email"
        class="form-control"
        id="mb_email"
        value="<%=member.mb_email%>"
      />
      </div>
      <div class="input_wrap">
        <label for="mb_phone">Phone number</label>
      <input
        type="number"
        class="form-control"
        id="mb_phone"
        value="<%=member.mb_phone%>"
      />
      </div>
      <div class="input_wrap">
        <label for="mb_location">Shop address (google maps embed link)</label>
      <input
        type="text"
        class="form-control"
        id="mb_location"
        value="<%=member.mb_location%>"
        placeholder="<iframe src=https://www.google.com/maps/embed?."
      />
      </div>
      <div class="input_wrap">
        <label for="mb_description">Shop description</label>
      <textarea placeholder="type here" value="<%=member.mb_description%>" id="mb_description" cols="5" rows="5"><%=member.mb_description%></textarea>
      </div>
      <div >
        <button type="button" id="<%=member._id%>" class="btn btn-primary add_comfirm_btn mb_edit_comfirm">Confirm</button>
        <button type="button" class="btn btn-danger" id="mb_edit_concel">Cancel</button>
      </div>
    </form>
  </div>
  <!-- USER PROFILE EDIT END-->
  <!-- CONTACT ADMIN POPUP START -->
<div class="contact_display">
  <div class="contact_box">
    <h3>Send message </h3>
    <div class="input_alert_box">
      <p id="notif_alert_text" class="input_alert">Pleace fill out all field!</p>
    </div>
    <div class="input_wrap">
      <label for="notif_subject">Notification subject</label>
      <input
        type="text"
        class="form-control"
        id="notif_subject"
        placeholder="message content"
      />
    </div>
    <div class="input_wrap">
      <label for="notif_content">Notification content</label>
      <textarea placeholder="type message"  id="notif_content" cols="5" rows="8"></textarea>
    </div>
    <div class="contact_btn_wrap">
      <button type="button"  class="btn btn-primary contact_submit" >Send</button>
      <button type="button" class="btn btn-danger" id="contact_cancel">Cancel</button>
    </div>
  </div>
</div>
<!-- CONTACT ADMIN POPUP END -->

    <script>
      $(function () {

        $(".show_message").on("click", async () => {
          $(".notification_dropdown").slideToggle();
          console.log("heee");
        });
      })
    </script>
</body>
<%-include('includes/footer')%>
