<%-include('includes/header')%>
<link rel="stylesheet" type="text/css" href="/css/shop.css" />

<body>
  <div class="shop_navbar">
    <div class="nav_container">
      <h2 class="page_name">Shop Page</h2>
      <div class="nav_link_wrap">
        <a href="/admin" class="nav_link">Home</a>
        <a href="/admin/shop-control" style="color: coral" class="nav_link ">My Products</a>
        <a href="/admin/shop-control" class="nav_link">My Clients</a>
        <a href="/admin/shop-control" class="nav_link">Order Requests</a>

      </div>
      <div class="nav_right">
        <div class="message_wrap">
          <img class="message_icon" src="/images/message.svg" alt="email" />
          <span class="message_cnt">
            <p>4</p>
          </span>
        </div>
        <% let img_src = member.mb_image%>
        
        <div type="button" class=" user_box" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="user_img" src="<%= img_src.slice(7) %>" alt="avatar" />
          <img class="bottom_arrow_icon" src="/images/bottom_arrow.svg" alt="icon">
        </div>
        <div class="dropdown-menu">
          <div class="dropdown_item_init">
            <img class="user_img" src="<%= img_src.slice(7) %>" alt="avatar" />
            <span><%= member.mb_nick %></span>
          </div>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item drop_items" href="#"><img src="/images/default_user.svg" alt="icon"> Edit Profile</a>
          <a class="dropdown-item drop_items" href="#"><img src="/images/logout.svg" alt="icon"> Log out</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shop_content_wrap">
    <div class="shop_content">
      <h2 class="content_title">All Product Status</h2>
      <div class="add_btn_wrap">
        <button class="btn btn-primary hiding_btn">Add New Product +</button>
        </div>
      <table class="table table-bordered table-hover">
        <thead class="thead-light">
          <th scope="col">N</th>
          <th scope="col">Product name</th>
          <th scope="col">Product type</th>
          <th scope="col">Product price</th>
          <th scope="col">Product discount</th>
          <th scope="col">Discount period</th>
          <th scope="col">Product left count</th>
          <th scope="col">Product status</th>
          <th scope="col">Edit product</th>
        </thead>
        <% shop_data.map((value, key) => { %>
        <tbody id="<%= value._id %>" class="products_table_body">
          <td><%= key + 1 %></td>
          <td><%= value.product_name%></td>
          <td><%= value.product_collection%></td>
          <td><%= value.product_price%></td>
          <td><%= value.product_discount%></td>
          <td><%= value.product_discount_period%></td>
          <td><%= value.product_left_cnt%></td>
          <td><%= value.product_status%></td>
          <td>
            <a
              style="text-decoration: none"
              class="edit_link"
              href="/admin/products/edit/<%= value._id %>"
              >Edit</a>
              <button></button>
          </td>
        </tbody>
        <%});%>
      </table>
      </div>
    </div>
  </div>
  <div class="add_product_display">

    <!-- ADD NEW PRODUCT FORM START -->
  
  <div class="product_edit_wrap add_product_wrap">
    <div class="product_edit_container add_product_container">
      <h2 class="product_title">Add New Product</h2>
      <form onsubmit="return validateForm()" action="/admin/products/create" enctype="multipart/form-data" method="POST" class="product_container">
        <div class="form-group">
          <label for="product_name">Product name</label>
          <input
            type="text"
            class="form-control"
            id="product_name"
            placeholder="ex: Dog choco"
            name="product_name"
          />
        </div>
        <div class="form-row double_input">
          <div class="col">
            <label for="product_type">Product type</label>
            <select name="product_collection" class="form-control" id="product_type">
              <option value="food"  >Food</option>
              <option value="dress" >Dress</option>
              <option value="toy" >Toy</option>
              <option value="beauty">Beauty</option>
              <option value="service" >Service</option>
              <option value="etc" >etc</option>
            </select>
          </div>
          <div class="col">
            <label for="product_status">Product status</label>
            <select name="product_status" class="form-control"  id="product_status">
              <option value="PAUSED"  >Paused</option>
              <option value="PROCESS"  >Process</option>
            </select>
          </div>
        </div>
        <div class="form-row double_input">
          <div class="col">
            <label for="product_price">Product price (won)</label>
            <input
              type="number"
              min="0"
              class="form-control"
              id="product_price"
              name="product_price"
              placeholder="ex: 5600"
            />
          </div>
          <div class="col">
            <label for="product_left">Product left count</label>
            <input
              type="number"
              min="0"
              class="form-control"
              id="product_left"
              name="product_left_cnt"
              placeholder="ex: 100"
            />
          </div>
        </div>
        <div class="form-row double_input">
          <div class="col">
            <label for="product_discount">Product discount (%) </label>
            <input
              max="100"
              min="0"
              type="number"
              class="form-control"
              id="product_discount"
              name="product_discount"
              placeholder="ex: 10"
              value="0"
            />
          </div>
          <div class="col">
            <label for="product_discount_period">Product discount period</label>
            <select name="product_discount_period"  class="form-control" id="product_discount_period">
              <option value="0">None</option>
              <option value="6_hours" >6 hours</option>
              <option value="1_day" >1 day</option>
              <option value="7_days" >7 days</option>
              <option value="30_days">30 days</option>
            </select>
          </div>
        </div>
        <div class="form-row double_input">
          <div class="col">
            <label for="product_delivery_cost">Product delivery cost (won)</label>
            <input
              type="number"
              min="0"
              class="form-control"
              id="product_delivery_cost"
              placeholder="ex: 2000"
              name="product_delivery_cost"
            />
          </div>
          <div class="col">
            <label for="product_point">Product point</label>
            <input
              type="number"
              min="0"
              class="form-control"
              id="product_point"
              name="product_point"
              placeholder="ex: 200"
              value="0"
            />
          </div>
        </div>
        <div class="form-group product_desc_box">
          <label for="product_desc">Product description</label>
          <textarea name="product_description"  id="product_desc" placeholder="Type here"  rows="4"></textarea>
        </div>
        <div class="img_frame">
          <label for="product_name">Product images</label>
          <div class="media_frame">
            <div class="upload_img_box">
              <img src="/images/add_photo.svg" class="1" id="image_section_1" alt="dish">
              <input type="file" name="product_images" class="image_one" id="file" onchange="previewFileHandler(this, 1)">
            </div>
            <div class="upload_img_box">
              <img src="/images/add_photo.svg" class="2" id="image_section_2" alt="dish">
              <input type="file" name="product_images" class="image_two" id="file" onchange="previewFileHandler(this, 2)">
            </div>
            <div class="upload_img_box">
              <img src="/images/add_photo.svg" class="3" id="image_section_3" alt="dish">
              <input type="file" name="product_images" class="image_three" id="file" onchange="previewFileHandler(this, 3)">
            </div>
            <div class="upload_img_box">
              <img src="/images/add_photo.svg" class="4" id="image_section_4" alt="dish">
              <input type="file" name="product_images" class="image_four" id="file" onchange="previewFileHandler(this, 4)">
            </div>
            <div class="upload_img_box">
              <img src="/images/add_photo.svg" class="5" id="image_section_5" alt="dish">
              <input type="file" name="product_images" class="image_five" id="file" onchange="previewFileHandler(this, 5)">
            </div>
          </div>
        </div>
        <div class="form_bottom">
          <button type="submit" id="form_submit_btn" class="btn btn-primary add_comfirm_btn">Comfirm</button>
          <button type="button" class="btn btn-danger" id="adding_concel">Concel</button>
        </div>
      </form>
    </div>
  </div>
  <!-- ADD NEW PRODUCT FORM END -->
</div>

</body>
<script>
  $(function () {
    $(".hiding_btn").on("click", () => {
      $(".add_product_display").show()
    });

    $("#adding_concel").on("click", ()=>{
      $(".add_product_display").hide()
    })

    $(".product_collection").on("change", () => {
      const selected_value = $(".product_collection").val();
      if (selected_value === "drink") {
        $("#product_volume").show();
        $("#product_size").hide();
      } else {
        $("#product_volume").hide();
        $("#product_size").show();
      }
    });
  });
  
  function validateForm() {
    const product_name = $("#product_name").val(),
      product_price = $("#product_price").val(),
      product_left_cnt = $("#product_left_cnt").val(),
      product_description = $("#product_desc").val(),
      product_delivery_cost= $("#product_delivery_cost").val();

    if (
      product_name == "" ||
      product_price == "" ||
      product_left_cnt == "" ||
      product_description == ""||
      product_delivery_cost == ""
    ) {
      alert("Please, fill out required field !");
      
      return false;
    } else return true;
  }

  function previewFileHandler(input, order) {
    const image_class_name = input.className;
    const file = $(`.${image_class_name}`).get(0).files[0],
      fileType = file["type"],
      validImageTypes = ["image/jpg", "image/jpeg", "image/png"];

    if (!validImageTypes.includes(fileType)) {
      alert(
        "Iltimos ruxsat etilgan formatdagi rasmlarni yuklang! (jpg, jpeg, png)"
      );
    } else {
      let reader = new FileReader();
      reader.onload = function () {
        $(`#image_section_${order}`).attr("src", reader.result);
      };
      reader.readAsDataURL(file);
    }
  }
</script>

<%-include('includes/footer')%>
