<%-include('includes/header')%>
<link rel="stylesheet" type="text/css" href="/css/shop.css" />
<link rel="stylesheet" type="text/css" href="/css/stat.css" />
<script src="/js/shop.js"></script>
<body>
  <div class="shop_navbar">
    <div class="nav_container">
      <h2 class="page_name">Shop Page</h2>
      <div class="nav_link_wrap">
        <a href="/admin" class="nav_link">Home</a>
        <a href="/admin/shop-control" class="nav_link">My Products</a>
        <a href="/admin/statistics" style="color: coral" class="nav_link"
          >My Statistics</a
        >
        <a href="/admin/shop-control" class="nav_link">Order Requests</a>
        <span id="contact_admin" class="nav_link">Contact Admin</span>
      </div>
      <div class="nav_right">
        <% let message_count = statistics[1].length%>
        <div class="message_wrap">
          <img
            class="message_icon show_message"
            src="/images/message.svg"
            alt="email"
          />
          <span class="message_cnt show_message">
            <p class="message_count_num"><%= message_count %></p>
          </span>
          <div class="notification_dropdown">
            <div class="notification_header">
              <p>Notifications</p>
            </div>
            <hr />
            <div class="notification_messages_wrap">
              <% statistics[1].map((value, key) => {%>
              <div id="message_container" class="message_container">
                <img
                  id="message_img"
                  src="<%=value.sender_data.mb_image.slice(7)%>"
                  alt="avatar"
                />
                <div class="message_header_wrap">
                  <div class="sender_name_wrap">
                    <p class="sender_name"><%=value.sender_data.mb_nick%></p>
                    <img
                      id="<%=value._id%>"
                      src="/images/x.svg"
                      class="delete_one_message"
                      alt="x"
                    />
                  </div>
                  <p class="message_subject"><%=value.notif_subject%></p>
                  <p class="message_content"><%=value.notif_content%></p>
                  <% let year = new Date(value.createdAt).getFullYear(); let
                  month = new Date(value.createdAt).getMonth()+1; let date = new
                  Date(value.createdAt).getDate(); let hour = new
                  Date(value.createdAt).getHours(); let minute = new
                  Date(value.createdAt).getMinutes() %>
                  <p class="message_time">
                    <%= `${year}-${month}-${date} ${hour}:${minute} ` %>
                  </p>
                </div>
              </div>
              <%})%>
            </div>
            <div id="delete_all_message" class="notification_bottom">
              Mark all as read
            </div>
          </div>
        </div>
        <% let img_src = member.mb_image%>
        <div
          type="button"
          class="user_box"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img class="user_img" src="<%= img_src.slice(7) %>" alt="avatar" />
          <img
            class="bottom_arrow_icon"
            src="/images/bottom_arrow.svg"
            alt="icon"
          />
        </div>
        <div class="dropdown-menu">
          <div class="dropdown_item_init">
            <img class="user_img" src="<%= img_src.slice(7) %>" alt="avatar" />
            <span class="dropdown_mb_nick"><%= member.mb_nick %></span>
          </div>
          <div class="dropdown-divider"></div>
          <span id="edit_mb_btn" class="dropdown-item drop_items" href="#"
            ><img src="/images/default_user.svg" alt="icon" /> Edit
            Profile</span
          >
          <a class="dropdown-item drop_items" href="/admin/logout"
            ><img src="/images/logout.svg" alt="icon" /> Log out</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="stat_page">
    <div class="stat_main">
      <div class="stat_dashboard">
        <h3>dishboard</h3>
        <div class="stat_card_wrap">
          <div class="stat_card"></div>
          <div class="stat_card"></div>
          <div class="stat_card"></div>
          <div class="stat_card"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- CONTACT ADMIN POPUP START -->
  <div class="contact_display">
    <div class="contact_box">
      <h3>Message to Admin</h3>
      <div class="input_alert_box">
        <p id="notif_alert_text" class="input_alert">
          Pleace fill out all field!
        </p>
      </div>
      <div class="input_wrap">
        <label for="notif_subject">Notification subject</label>
        <input
          type="text"
          class="form-control"
          id="notif_subject"
          placeholder="message content"
        />
      </div>
      <div class="input_wrap">
        <label for="notif_content">Notification content</label>
        <textarea
          placeholder="type message"
          id="notif_content"
          cols="5"
          rows="8"
        ></textarea>
      </div>
      <div class="contact_btn_wrap">
        <button
          type="button"
          class="btn btn-primary contact_submit"
          id="contact_submit"
        >
          Confirm
        </button>
        <button type="button" class="btn btn-danger" id="contact_cancel">
          Cancel
        </button>
      </div>
    </div>
  </div>
  <!-- CONTACT ADMIN POPUP END -->
  <script src="/js/charts/chart1.js"></script>
  <script src="/js/charts/chart2.js"></script>
</body>
<%-include('includes/footer')%>
